.Container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: Arial, sans-serif;
}

.Categories {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  padding: 8px 10px;
  user-select: "none";
}

.Categories:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.2s ease;
}

.Misc,
.Account {
  color: #efefef;
  font-size: 13px;
  justify-self: flex-end;
  text-decoration: none;
  font-weight: 600;
  padding: 8px 10px;
  user-select: none;
}

.Misc:hover,
.Account:hover {
  background-color: #16252e;
  z-index: 0;
  transition: background-color 0.2s ease;
}

.Account {
  display: flex;
  justify-content: center;
  align-items: center;
}
